In [1]:
import pandas as pd

In [9]:
mvps = pd.read_csv('csvs/mvps.csv')

In [ ]:
# mvps.columns = mvps.columns.str.lower()

In [ ]:
mvps.columns = mvps.columns.str.replace(' ', '_').str.lower()
mvps = mvps[["player", "year", "pts_won", "pts_max", "share"]]

In [7]:
def read_nba_data(mvps):
    mvps = pd.read_csv('csvs/mvps.csv')
    
    mvps.columns = mvps.columns.str.replace(' ', '_').str.lower()

    mvps = mvps[["player", "year", "pts_won", "pts_max", "share"]]
    
    mvps['player'] = [i.lower() for i in mvps.player ]
        
    return mvps

In [12]:
mvps = read_nba_data(mvps)
mvps.head()

            player  year  pts_won  pts_max  share
0   michael jordan  1991    891.0      960  0.928
1    magic johnson  1991    497.0      960  0.518
2   david robinson  1991    476.0      960  0.496
3  charles barkley  1991    222.0      960  0.231
4      karl malone  1991    142.0      960  0.148

In [23]:
players = pd.read_csv('csvs/players.csv')

In [ ]:
players.head()

In [ ]:
players.columns = players.columns.str.lower().str.replace(' ', '_')

In [ ]:
strings = ['player', 'tm']

for col in strings:
    players[col] = players[col].str.lower()

In [19]:
def read_player_csv(players):

    players.columns = players.columns.str.lower().str.replace(' ', '_')
    players['player'] = players.player.str.replace('*', '', regex=False)
    
    strings = ['player', 'tm']
    for col in strings:
        players[col] = players[col].str.lower()
        
    del players['unnamed:_0']
    del players['rk']
    
    def single_row(df):
        if df.shape[0] == 1:
            return df
        else:
            row = df[df['tm'] == 'tot']
            row['tm'] = df.iloc[-1, :]['tm']
            return row
    players = players.groupby(['player', 'year']).apply(single_row) 
    players.index = players.index.droplevel()
    players.index = players.index.droplevel()
    return players

In [40]:
players = pd.read_csv('csvs/players.csv')

players = read_player_csv(players)
players.head()

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,year
164,a.c. green,PF,27,lal,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
633,a.c. green,PF,28,lal,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1092,a.c. green,PF,29,lal,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1579,a.c. green,PF,30,pho,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
2067,a.c. green,SF,31,pho,82,52,32.8,3.8,7.5,.504,...,2.4,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,1995

In [41]:
players.columns

Index(['player', 'pos', 'age', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
       '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'year'],
      dtype='object')

In [27]:
mvps.columns

Index(['player', 'year', 'pts_won', 'pts_max', 'share'], dtype='object')

In [ ]:
# drop multiplayer level index
players.index = players.index.droplevel()
players.index = players.index.droplevel()

In [39]:
players.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [42]:
mvp_players = players.merge(mvps, how='outer', on=['player', 'year'])

In [ ]:
mvp_players[mvp_players['pts_won'] > 0]

In [ ]:
mvp_players

In [ ]:
mvp_players[['pts_won', 'pts_max', 'share']] = mvp_players[['pts_won', 'pts_max', 'share']].fillna(0)

In [44]:
mvp_players.head(3).T

                  0           1           2
player   a.c. green  a.c. green  a.c. green
pos              PF          PF          PF
age              27          28          29
tm              lal         lal         lal
g                82          82          82
gs               21          53          55
mp             26.4        35.4        34.4
fg              3.1         4.7         4.6
fga             6.6         9.8         8.6
fg%            .476        .476        .537
3p              0.1         0.1         0.2
3pa             0.7         0.7         0.6
3p%            .200        .214        .348
2p              3.0         4.5         4.4
2pa             5.9         9.1         8.0
2p%            .507        .495        .550
efg%           .486        .483        .548
ft              2.7         4.1         3.4
fta             3.7         5.6         4.6
ft%            .738        .744        .739
orb             2.5         3.7         3.5
drb             3.8         5.6         5.2
trb             6.3         9.3         8.7
ast             0.9         1.4         1.4
stl             0.7         1.1         1.1
blk             0.3         0.4         0.5
tov             1.2         1.4         1.4
pf              1.4         1.7         1.8
pts             9.1        13.6        12.8
year           1991        1992        1993
pts_won         NaN         NaN         NaN
pts_max         NaN         NaN         NaN
share           NaN         NaN         NaN

In [35]:
#  TEAMS
teams = pd.read_csv('csvs/teams.csv')

In [36]:
def read_team_csv(teams):
    teams = teams.copy()

    teams.columns = teams.columns.str.lower().str.replace(' ', '')
    teams.team = [i for i in teams['team'].str.lower()]    
    del teams['unnamed:0']
    teams = teams[~teams['w'].str.contains('Division')]
    teams.team = teams['team'].str.replace('*', '', regex=False)
    
    return teams

In [37]:
teams = read_team_csv(teams)
teams.head()

    w   l  w/l%    gb   ps/g   pa/g    srs  year                team
0  56  26  .683     —  111.5  105.7   5.22  1991      boston celtics
1  44  38  .537  12.0  105.4  105.6  -0.39  1991  philadelphia 76ers
2  39  43  .476  17.0  103.1  103.3  -0.43  1991     new york knicks
3  30  52  .366  26.0  101.4  106.4  -4.84  1991  washington bullets
4  26  56  .317  30.0  102.9  107.5  -4.53  1991     new jersey nets

In [ ]:
teams.team = teams['team'].str.replace('*', '', regex=False)

In [48]:
nicknames = {}

with open("nicknames.txt", 'r') as f_in:
    lines = f_in.readlines()
    for line in lines[1:]:
        abbrev, name = line.replace('\n', '').replace('-', '').replace("'", '"').replace('\t', ':').split(':')
        nicknames[abbrev] = name
        for key, val in nicknames.copy().items():
            if val.upper():
                del nicknames[key]
                key = key.strip().lower()
                val = val.strip().replace('"', '').lower()
                nicknames[key] = val

In [58]:
mvp_players['team'] = mvp_players['tm'].map(nicknames)
mvp_players[['pts_won', 'pts_max', 'share']] = mvp_players[['pts_won', 'pts_max', 'share']].fillna(0)

In [52]:
mvp_players.columns

Index(['player', 'pos', 'age', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
       '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'year',
       'pts_won', 'pts_max', 'share', 'team'],
      dtype='object')

In [ ]:
col = ['abbre', 'name']

In [ ]:
strings = ['abbre', 'name']

for col in strings:
    nickname[col] = nickname[col].str.lower().str.replace('-', '')

In [ ]:
nicknames = {}

with open("nicknames.txt", 'r') as f_in:
    lines = f_in.readlines()
    for line in lines[1:]:
        abbrev, name = line.replace('\n', '').replace('-', '').replace("'", '"').replace('\t', ':').split(':')
        nicknames[abbrev] = name
        for key, val in nicknames.copy().items():
            if val.upper():
                del nicknames[key]
                key = key.strip().lower()
                val = val.strip().replace('"', '').lower()
                nicknames[key] = val

In [ ]:
nicknames

In [ ]:
nickname = {}

for key, val in nicknames.items():
    name = key.strip().lower()
    nickname[name] = val.strip().replace('"', '').lower()

In [96]:
nicknames

{'atl': 'atlanta hawks',
 'bos': 'boston celtics',
 'cha': 'charlotte hornets',
 'chi': 'chicago bulls',
 'cle': 'cleveland cavaliers',
 'dal': 'dallas mavericks',
 'den': 'denver nuggets',
 'det': 'detroit pistons',
 'gsw': 'golden state warriors',
 'hou': 'houston rockets',
 'ind': 'indiana pacers',
 'lac': 'los angeles clippers',
 'lal': 'los angeles lakers',
 'mem': 'memphis grizzlies',
 'mia': 'miami heat',
 'mil': 'milwaukee bucks',
 'min': 'minnesota timberwolves',
 'noh': 'new orleans hurricanes',
 'nyk': 'new york knicks',
 'bkn': 'brooklyn nets',
 'okc': 'oklahoma city thunder',
 'orl': 'orlando magic',
 'phi': 'philadelphia 76ers',
 'pho': 'phoenix suns',
 'por': 'portland trail blazers',
 'sac': 'sacramento kings',
 'tor': 'toronto raptors',
 'uth': 'utah jazz',
 'was': 'washington wizards',
 'wsb': 'washington bullets roster',
 'cho': 'charlotte hornets',
 'uta': 'utah jazz',
 'van': 'vancouver grizzlies',
 'sea': 'seattle storm',
 'njn': 'new jersey nets',
 'no': 'new orleans city',
 'la': 'los angeles clippers',
 'nop': 'new orleans pelicans',
 'nok': 'new oklahoma city',
 'brk': 'brooklyn nets',
 'sas': 'san antonio spurs',
 'chh': 'charlotte hornets'}

In [ ]:
mvp_players['pos'] = mvp_players['pos'].str.lower()

In [ ]:
mvp_players['team'] = mvp_players['tm'].map(nickname)

In [ ]:
mvp_players.tail()

In [ ]:
teams.head(2)

In [ ]:
mvp_players.rename(columns={'teams': 'team'}, inplace=True)

In [ ]:
list(teams['team'].unique())

In [ ]:
# mvp_players['teams'] = [i for i in mvp_players['teams'].str.strip().str.replace('"', '')]
list(mvp_players['team'].unique())

In [ ]:
for index, row in teams.iterrows():
    if row['team'] == 'seattle supersonics':
        teams.at[index, 'team'] = 'seattle storm'
    elif row['team'] == 'new orleans hornets':
        teams.at[index, 'team'] = 'new orleans pelicans'
    elif row['team'] == 'charlotte bobcats':
        teams.at[index, 'team'] = 'charlotte hornets'

In [ ]:
# for index, row in mvp_players.iterrows():
#     if row['tm'] == 'wsb':
#         mvp_players.at[index, 'team'] = 'washington bullets'

for index, row in teams.iterrows():
    if row['team'] == 'new orleans hornets':
        teams.at[index, 'team'] = 'new orleans pelicans'

In [84]:
stat = mvp_players.merge(teams, how='outer', on=['team', 'year'])

In [88]:
stat = stat.dropna()

In [73]:
stat[['3p%']].isna().sum()

3p%    2088
dtype: int64

In [82]:
stat['3p%'] = stat['3p%'].dropna(inplace=True, axis=0)

In [91]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11250 entries, 0 to 14091
Data columns (total 41 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   player   11250 non-null  object
 1   pos      11250 non-null  object
 2   age      11250 non-null  object
 3   tm       11250 non-null  object
 4   g        11250 non-null  object
 5   gs       11250 non-null  object
 6   mp       11250 non-null  object
 7   fg       11250 non-null  object
 8   fga      11250 non-null  object
 9   fg%      11250 non-null  object
 10  3p       11250 non-null  object
 11  3pa      11250 non-null  object
 12  3p%      11250 non-null  object
 13  2p       11250 non-null  object
 14  2pa      11250 non-null  object
 15  2p%      11250 non-null  object
 16  efg%     11250 non-null  object
 17  ft       11250 non-null  object
 18  fta      11250 non-null  object
 19  ft%      11250 non-null  object
 20  orb      11250 non-null  object
 21  drb      11250 non-null  object
 22  trb      11250 non-null  object
 23  ast      11250 non-null  object
 24  stl      11250 non-null  object
 25  blk      11250 non-null  object
 26  tov      11250 non-null  object
 27  pf       11250 non-null  object
 28  pts      11250 non-null  object
 29  year     11250 non-null  int64
 30  pts_won  11250 non-null  float64
 31  pts_max  11250 non-null  float64
 32  share    11250 non-null  float64
 33  team     11250 non-null  object
 34  w        11250 non-null  object
 35  l        11250 non-null  object
 36  w/l%     11250 non-null  object
 37  gb       11250 non-null  object
 38  ps/g     11250 non-null  object
 39  pa/g     11250 non-null  object
 40  srs      11250 non-null  object
dtypes: float64(3), int64(1), object(37)
memory usage: 3.6+ MB

In [ ]:
stat.dropna(axis=0, subset=['player', 'pos', 'age'], inplace=True)

In [ ]:
stat

In [ ]:
len(mvp_players['team'].unique())

In [ ]:
stat.dtypes

In [ ]:
stats = stat.apply(pd.to_numeric, errors='ignore')

In [ ]:
stats.dtypes

In [ ]:
list(stats['gb'].unique())

In [ ]:
stats['gb'] = stats['gb'].apply(pd.to_numeric, errors='ignore')

In [ ]:
stats['gb'] = stats['gb'].replace('—', 0)

In [ ]:
stats.to_csv('player_mvp_stats.csv')

In [ ]:
highest_score = stats[stats['g'] > 70].sort_values('pts', ascending=False).head(10)

In [ ]:
highest_score.plot.bar('player', 'pts')

In [95]:
stat.groupby('year').apply(lambda x: x.sort_values('pts', ascending=False).head(1))

,,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,pts_max,share,team,w,l,w/l%,gb,ps/g,pa/g,srs
year,,,,,,,,,,,,,,,,,,,,,,
1991,9,terry teagle,SG,30,lal,82,0,18.3,4.1,9.2,.443,...,0.0,0.0,los angeles lakers,58,24,.707,5.0,106.3,99.6,6.73
1992,7881,walter davis,SF,37,den,46,0,16.1,4.0,8.8,.459,...,0.0,0.0,denver nuggets,24,58,.293,31.0,99.7,107.6,-7.59
1993,12468,kevin duckworth,C,28,por,74,55,23.8,4.1,9.3,.438,...,0.0,0.0,portland trail blazers,51,31,.622,11.0,108.5,105.4,2.92
1994,7332,scott skiles,PG,29,orl,82,46,28.1,3.4,7.9,.429,...,0.0,0.0,orlando magic,50,32,.610,7.0,105.7,101.8,3.68
1995,1134,marty conlon,C,27,mil,82,3,25.2,4.2,7.9,.532,...,0.0,0.0,milwaukee bucks,34,48,.415,18.0,99.3,103.7,-4.30
1996,8244,willie anderson,SG,29,nyk,76,44,27.1,3.8,8.7,.436,...,0.0,0.0,new york knicks,47,35,.573,13.0,97.2,94.9,2.24
1997,9009,mark jackson,PG,31,ind,82,82,37.2,3.5,8.3,.426,...,0.0,0.0,indiana pacers,39,43,.476,30.0,95.4,94.4,1.49
1998,8450,chris carr,SG,23,min,51,40,22.8,3.7,8.9,.420,...,0.0,0.0,minnesota timberwolves,45,37,.549,17.0,101.1,100.4,0.17
1999,8352,cuttino mobley,PG,23,hou,49,37,29.7,3.5,8.3,.425,...,0.0,0.0,houston rockets,31,19,.620,6.0,94.2,91.9,1.39
2000,5622,joe smith,C,24,min,78,9,25.3,3.7,8.0,.464,...,0.0,0.0,minnesota timberwolves,50,32,.610,5.0,98.5,96.0,2.67
2001,4294,larry johnson,PF,31,nyk,65,65,32.4,3.8,9.2,.411,...,0.0,0.0,new york knicks,48,34,.585,8.0,88.7,86.1,1.98
2002,3204,toni kukoč,SF,33,atl,59,9,25.3,3.6,8.5,.419,...,0.0,0.0,atlanta hawks,33,49,.402,17.0,94.0,98.3,-4.41
2003,11060,vlade divac,C,34,sac,80,80,29.8,3.8,8.2,.466,...,0.0,0.0,sacramento kings,59,23,.720,—,101.7,95.2,6.68
2004,8519,vlade divac,C,35,sac,81,81,28.6,3.9,8.2,.470,...,0.0,0.0,sacramento kings,55,27,.671,1.0,102.8,97.8,5.41
2005,5926,shane battier,SG,26,mem,80,72,31.5,3.4,7.7,.442,...,0.0,0.0,memphis grizzlies,45,37,.549,14.0,93.4,91.1,2.64
2006,13268,david wesley,SG,35,hou,71,59,33.4,3.2,7.9,.403,...,0.0,0.0,houston rockets,34,48,.415,29.0,90.1,91.7,-1.30
2007,11575,shareef abdur-rahim,C,30,sac,80,45,25.2,3.9,8.2,.474,...,0.0,0.0,sacramento kings,33,49,.402,28.0,101.3,103.1,-1.35
2008,11870,jarrett jack,SG,24,por,82,16,27.2,3.3,7.6,.431,...,0.0,0.0,portland trail blazers,41,41,.500,13.0,95.4,96.3,-0.52
2009,7834,linas kleiza,SF,24,den,82,7,22.2,3.5,7.9,.447,...,0.0,0.0,denver nuggets,54,28,.659,—,104.3,100.9,3.13
2010,1502,ronald murray,SG,30,chi,75,2,22.3,3.6,9.1,.392,...,0.0,0.0,chicago bulls,41,41,.500,20.0,97.5,99.1,-1.64
2011,12535,serge ibaka,PF,21,okc,82,44,27.0,4.1,7.5,.543,...,0.0,0.0,oklahoma city thunder,55,27,.671,—,104.8,101.0,3.81
2012,11478,gary neal,SG,27,sas,56,7,21.5,3.8,8.7,.436,...,0.0,0.0,san antonio spurs,50,16,.758,—,103.7,96.5,7.28
2013,2474,devin harris,SG,29,atl,58,34,24.5,3.3,7.6,.438,...,0.0,0.0,atlanta hawks,44,38,.537,22.0,98.0,97.5,-0.08
2014,4581,c.j. miles,SG,26,cle,51,34,19.3,3.5,8.0,.435,...,0.0,0.0,cleveland cavaliers,33,49,.402,23.0,98.2,101.5,-3.86
2015,12752,wesley johnson,SF,27,lal,76,59,29.5,3.8,9.1,.414,...,0.0,0.0,los angeles lakers,21,61,.256,46.0,98.5,105.3,-6.17
2016,7665,terrence ross,SF,24,tor,73,7,23.9,3.7,8.6,.431,...,0.0,0.0,toronto raptors,56,26,.683,—,102.7,98.2,4.08
2017,8595,ty lawson,PG,29,sac,69,24,25.1,3.4,7.6,.454,...,0.0,0.0,sacramento kings,32,50,.390,35.0,102.8,106.7,-3.29
2018,13774,trey lyles,PF,22,den,73,2,19.1,3.7,7.5,.491,...,0.0,0.0,denver nuggets,46,36,.561,3.0,110.0,108.5,1.57
2019,12427,patty mills,PG,30,sas,82,1,23.3,3.4,8.1,.425,...,0.0,0.0,san antonio spurs,48,34,.585,5.0,111.7,110.0,1.80
2020,1676,tomáš satoranský,SG,28,chi,65,64,28.9,3.6,8.5,.430,...,0.0,0.0,chicago bulls,22,43,.338,30.0,106.8,109.9,-4.00
2021,12924,gary harris,SG,26,orl,39,38,27.7,3.5,8.8,.400,...,0.0,0.0,orlando magic,21,51,.292,20.0,104.0,113.3,-9.02

In [93]:
stat.groupby('year').apply(lambda x: x.sort_values('pts', ascending=False).iloc[0])

,player,pos,age,tm,g,gs,mp,fg,fga,fg%,...,pts_max,share,team,w,l,w/l%,gb,ps/g,pa/g,srs
year,,,,,,,,,,,,,,,,,,,,,
1991,terry teagle,SG,30,lal,82,0,18.3,4.1,9.2,.443,...,0.0,0.0,los angeles lakers,58,24,.707,5.0,106.3,99.6,6.73
1992,walter davis,SF,37,den,46,0,16.1,4.0,8.8,.459,...,0.0,0.0,denver nuggets,24,58,.293,31.0,99.7,107.6,-7.59
1993,kevin duckworth,C,28,por,74,55,23.8,4.1,9.3,.438,...,0.0,0.0,portland trail blazers,51,31,.622,11.0,108.5,105.4,2.92
1994,scott skiles,PG,29,orl,82,46,28.1,3.4,7.9,.429,...,0.0,0.0,orlando magic,50,32,.610,7.0,105.7,101.8,3.68
1995,marty conlon,C,27,mil,82,3,25.2,4.2,7.9,.532,...,0.0,0.0,milwaukee bucks,34,48,.415,18.0,99.3,103.7,-4.30
1996,willie anderson,SG,29,nyk,76,44,27.1,3.8,8.7,.436,...,0.0,0.0,new york knicks,47,35,.573,13.0,97.2,94.9,2.24
1997,mark jackson,PG,31,ind,82,82,37.2,3.5,8.3,.426,...,0.0,0.0,indiana pacers,39,43,.476,30.0,95.4,94.4,1.49
1998,chris carr,SG,23,min,51,40,22.8,3.7,8.9,.420,...,0.0,0.0,minnesota timberwolves,45,37,.549,17.0,101.1,100.4,0.17
1999,cuttino mobley,PG,23,hou,49,37,29.7,3.5,8.3,.425,...,0.0,0.0,houston rockets,31,19,.620,6.0,94.2,91.9,1.39
2000,joe smith,C,24,min,78,9,25.3,3.7,8.0,.464,...,0.0,0.0,minnesota timberwolves,50,32,.610,5.0,98.5,96.0,2.67
2001,larry johnson,PF,31,nyk,65,65,32.4,3.8,9.2,.411,...,0.0,0.0,new york knicks,48,34,.585,8.0,88.7,86.1,1.98
2002,toni kukoč,SF,33,atl,59,9,25.3,3.6,8.5,.419,...,0.0,0.0,atlanta hawks,33,49,.402,17.0,94.0,98.3,-4.41
2003,vlade divac,C,34,sac,80,80,29.8,3.8,8.2,.466,...,0.0,0.0,sacramento kings,59,23,.720,—,101.7,95.2,6.68
2004,vlade divac,C,35,sac,81,81,28.6,3.9,8.2,.470,...,0.0,0.0,sacramento kings,55,27,.671,1.0,102.8,97.8,5.41
2005,shane battier,SG,26,mem,80,72,31.5,3.4,7.7,.442,...,0.0,0.0,memphis grizzlies,45,37,.549,14.0,93.4,91.1,2.64
2006,david wesley,SG,35,hou,71,59,33.4,3.2,7.9,.403,...,0.0,0.0,houston rockets,34,48,.415,29.0,90.1,91.7,-1.30
2007,shareef abdur-rahim,C,30,sac,80,45,25.2,3.9,8.2,.474,...,0.0,0.0,sacramento kings,33,49,.402,28.0,101.3,103.1,-1.35
2008,jarrett jack,SG,24,por,82,16,27.2,3.3,7.6,.431,...,0.0,0.0,portland trail blazers,41,41,.500,13.0,95.4,96.3,-0.52
2009,linas kleiza,SF,24,den,82,7,22.2,3.5,7.9,.447,...,0.0,0.0,denver nuggets,54,28,.659,—,104.3,100.9,3.13
2010,ronald murray,SG,30,chi,75,2,22.3,3.6,9.1,.392,...,0.0,0.0,chicago bulls,41,41,.500,20.0,97.5,99.1,-1.64
2011,serge ibaka,PF,21,okc,82,44,27.0,4.1,7.5,.543,...,0.0,0.0,oklahoma city thunder,55,27,.671,—,104.8,101.0,3.81
2012,gary neal,SG,27,sas,56,7,21.5,3.8,8.7,.436,...,0.0,0.0,san antonio spurs,50,16,.758,—,103.7,96.5,7.28
2013,devin harris,SG,29,atl,58,34,24.5,3.3,7.6,.438,...,0.0,0.0,atlanta hawks,44,38,.537,22.0,98.0,97.5,-0.08
2014,c.j. miles,SG,26,cle,51,34,19.3,3.5,8.0,.435,...,0.0,0.0,cleveland cavaliers,33,49,.402,23.0,98.2,101.5,-3.86
2015,wesley johnson,SF,27,lal,76,59,29.5,3.8,9.1,.414,...,0.0,0.0,los angeles lakers,21,61,.256,46.0,98.5,105.3,-6.17
2016,terrence ross,SF,24,tor,73,7,23.9,3.7,8.6,.431,...,0.0,0.0,toronto raptors,56,26,.683,—,102.7,98.2,4.08
2017,ty lawson,PG,29,sac,69,24,25.1,3.4,7.6,.454,...,0.0,0.0,sacramento kings,32,50,.390,35.0,102.8,106.7,-3.29
2018,trey lyles,PF,22,den,73,2,19.1,3.7,7.5,.491,...,0.0,0.0,denver nuggets,46,36,.561,3.0,110.0,108.5,1.57
2019,patty mills,PG,30,sas,82,1,23.3,3.4,8.1,.425,...,0.0,0.0,san antonio spurs,48,34,.585,5.0,111.7,110.0,1.80
2020,tomáš satoranský,SG,28,chi,65,64,28.9,3.6,8.5,.430,...,0.0,0.0,chicago bulls,22,43,.338,30.0,106.8,109.9,-4.00
2021,gary harris,SG,26,orl,39,38,27.7,3.5,8.8,.400,...,0.0,0.0,orlando magic,21,51,.292,20.0,104.0,113.3,-9.02

In [ ]:
stats.corr()['share']